body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
  }
  
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .square:focus {
    outline: none;
  }
  

  .styleroot {
      all: inherit;
      width: 100%
  }

  body > #root > div {
    height: 100vh;
  }
  
  .game {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: cornflowerblue;
    /* flex-direction: row; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .tracker {
      position: absolute;
      width: 25%;
      height: 100%;
      z-index: 1;
  }

  .note {
      margin: 10px;
      padding: 10px;
      background-color:#ffffff82;
      width: fit-content;
      display: inline-block;
  }

  .finishedwords {
      height: 85%;
  }

  .report {
      height: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1.5em;
  }

  p {
      display: block;
  }


  .wordcard {
    display: flex;
    z-index: 9;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0em 1em;
    width: 35%;
    height: 75vh;
    margin: 10vh auto 30vh auto;
    background-color: #fffedd;
    color: #666666;
    text-align: center;
    font: 2.6em "Century Gothic", Futura, sans-serif;
    border-radius: 1em;
    border: 2px solid #444;
  }

  button {
      font-size: 0.8em;
      padding: 0.2em 0.5em;
      background-color:#000;
      color: white;
      border-radius: 5px;
      border: 1px solid #666666;
  }
  
  .game-info {
    margin-left: 20px;
  }
  